input,button,textarea{
    font-family: 'Roboto';outline:none;
}
body{min-width:985px;position:relative;overflow-y: hidden;overflow-x: auto;}
*{outline:none;}
.block_info{/*overflow:hidden;*/width:700px;position:absolute;top:36px;right:0;background:#f9f6ff;border-left:1px solid #ddd;border-bottom:1px solid #ddd;z-index:100;}

.tab_list{display:block;position:relative;overflow:hidden;padding:10px;border-bottom:1px solid #ddd;}
.tab_list>div{float:left;margin-right: 10px;color:#085cb7;cursor:pointer;}
.tab_list>div.active{font-weight: 500;color:#000;cursor:auto;}
.tab_blocks{padding:6px 10px;display:flex;justify-content: space-between;border-bottom:1px solid #ddd;/*margin-bottom:10px;*/}
.tab_blocks._right{justify-content: flex-end;}
.tab_blocks_header{position:relative;overflow:hidden;}
.tab_blocks_header>div{font-size:13px;padding: 5px 8px;float:left;margin-right:5px;cursor:pointer;}
.tab_blocks_header>div.active{background:#e1e1e1;cursor:auto;}
.btn{background:#f8e9b9;padding:3px 8px;color:#000;font-size:13px;
    border-radius:2px;border:1px solid #ddd;cursor:pointer;
}
.btn ._red{color:red;}

.itm_row{display: flex;justify-content: space-between;flex-wrap:wrap;}
.column{width:33%;}
.column2{width:65.5%;}
.wrp_itm_input_col{position:relative;width:48%;}
.itm_col{display: flex;justify-content: space-between;flex-wrap:wrap;}
.wrp_itm_input{position:relative;width:100%;margin-bottom:12px;display:flex;justify-content: space-between;}
.wrp_itm_input._half{width:48.8%;}
.wrp_itm_input_devider{line-height: 30px;font-weight: bold;}
.itm_input{box-sizing: border-box;width:100%;
    padding-left:10px;padding-right:10px;
    height:30px;border:1px solid #ddd;background:#fff;
    outline:none;
    transition:0.2s;
}
.itm_input._error{border-color:red;}

.itm_input_disabled{background:#eee;}

.itm_textarea{
    box-sizing: border-box;width:100%;
    padding-left:10px;padding-right:10px;
    border:1px solid #ddd;background:#fff;
    outline:none;line-height:14px;padding-top:8px;padding-bottom:8px;
    resize:none;
    transition:0.2s;
}
.itm_textarea._error{border-color:red;}

.itm_photo{background: #fff;width: 100%;margin-bottom: 12px;border: 1px solid #ddd;}


.frm_row{display:flex;justify-content: space-between;}
.col{width:32%;position:relative;}
.col2{width:66%;position:relative;}
.col3{width:100%;position:relative;}

.itm_caption{color: #a8a8a8;position: absolute;font-size: 11px;top: -8px;left: 7px;z-index: 2;background: #fff;padding: 2px 4px 0;border-radius: 2px;line-height: 14px;height: 12px;}
.tab_block{padding:10px 10px 0px 10px;}
.tab_block_btns{padding:0px 10px 10px;}
.line{border-bottom:1px solid #ddd;}

header{padding:10px;border-bottom:1px solid #ddd;}
.navbar ul{display:flex;list-style: none;padding:0;margin:0;}
.navbar ul li{margin-right:10px;}
.navbar ul li a{color:#000;text-decoration: none;display:block;;}
.navbar ul li a.active{font-weight:500;}

.wrapper{display:flex;flex-direction: column;justify-content: stretch;height:100%;}
.wrapper_content{height:100%;/*overflow:auto;*/position:relative;}

.properties_left{width:200px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
.properties_content{position: absolute;left: 200px;right: 0;top: 10px;bottom: 0;}
.wrapper_content_info{display: flex;height:100%;}
.profile_info_wrapper{position: absolute;
    top: 25px;
    left:15px;
    right:0;
    bottom: 60px;
    overflow: auto;
}
.profile_info{position:relative;}
.dictonary_outer{position:absolute;top:0;left:0;right:0;bottom:0;}

.properties_item{line-height:30px;padding-left:10px;padding-right:10px;}
.properties_subitem{line-height:30px;padding-left:20px;padding-right:10px;}
.properties_item._caption{background:#e1e1e1;}

.dictonary_caption{font-size:16px;font-weight: 500;padding-left:15px;}
.property_item_row{position:relative;display:flex;margin-top: 5px;margin-bottom: 5px;}
.property_item{width:300px;padding-left:5px;padding-right:5px;line-height: 26px;outline:none;border:1px solid #ddd;padding-top:0;padding-bottom:0;}

.del_dictionary_itm_val{line-height: 24px;padding-left: 10px;font-size: 12px;color: #085cb7;cursor:pointer;}
.dictonary_buttons{height:60px;position:absolute;bottom:0;width:100%;left:0;border-top:1px solid #ddd;
}
.dictonary_buttons_info{padding-left:15px;padding-right:15px;display:flex;justify-content: space-between;    height: 100%;align-items: center;}

.button{text-align:center;border:1px solid #ddd;
    line-height:30px;height:30px;cursor:pointer;
}
.button._ok{background:#f8e9b9;}


.button1{width:34%;}
.button2{width:64%;}

.wrp_finder{display:flex;border-bottom:1px solid #ddd;padding:10px;}
.wrp_finder .btn{line-height: 20px;}
.filter_caption{margin-left:10px;line-height:24px;}
.finder_input{border:1px solid #ddd;border-left:0;padding-top:0;padding-bottom:0;padding-left:5px;padding-right:5px;height:26px;}

/*loader*/
.loader{position:absolute;width:100%;height:100%;top:0;left:0;background-color: rgba(255,255,255,0.4);z-index: 10;}
.loader._hide{display:none;}

.lds-ripple {
    position: relative;
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -32px;
    left: 50%;
    margin-left: -32px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #000;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}
/*Кастомизация таблицы */
.dx-g-bs4-table{width:100%;border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0;
    margin: 0;}
.dx-g-bs4-table thead tr:first-child th{border-bottom:1px solid #ddd;font-weight: 500;}
.dx-g-bs4-table thead tr td{font-weight:500;}

.dx-g-bs4-table .dx-g-bs4-table-cell{border-bottom:1px solid #ddd;vertical-align: middle;font-size:13px;
white-space: nowrap;overflow:hidden;text-overflow: ellipsis;padding: 6px 10px;font-size: 11px;}

.bs4-header-cell{white-space: nowrap;overflow:hidden;text-overflow: ellipsis;}
.dx-g-bs4-header-cell{position:relative;}
.dx-g-bs4-resizing-control-wrapper {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: "none";
    position: absolute;
    width: 16px;
    top: 0;
    right: -8px;
    height: 100%;
    cursor: col-resize;
    z-index: 100;
    opacity: 1;
}
.dx-g-bs4-resize-control-line{position: absolute;background-color: #a8a8a8;
height: 50%;width: 1px;top: 25%;}

.dx-g-bs4-resize-control-line-first{left: 7px;}
.dx-g-bs4-resize-control-line-second{left: 9px;}
.dx-g-bs4-resizing-control-wrapper:hover .dx-g-bs4-resize-control-line{background-color:#085cb7;}
.dx-g-bs4-resize-control-line-active{background-color:#085cb7;}

.dx-g-bs4-header-cell-content{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 24px;
    font-size:13px;
}

.dx-g-bs4-table tr:hover td{background: #d9ebf5;}
.dx-g-bs4-table tr td.text-center{text-align:center;}
/*.dx-g-bs4-table .dx-g-bs4-table-invisible-row{display:none;}*/
.dx-g-bs4-table tr.dx-g-bs4-table-invisible-row td{border:0;padding:0;}

.dx-g-bs4-table tr td{
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.dx-g-bs4-table tr td:first-child{border-left:0;}
.dx-g-bs4-table>tbody>tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.btns{display: flex;}
.btns.unactive .btn{background:#ddd;cursor:auto;}

.btns .btn{margin-left:5px;}

.dx-g-bs4-sorting-indicator{
    display: inline-block;width: 10px;height: 10px;margin-left: 3px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCA0OTIgNDkyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0OTIgNDkyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PGc+PHBhdGggZD0iTTQ0Mi42MjcsMTg1LjM4OEwyNjUuMDgzLDcuODQ0QzI2MC4wMTksMi43OCwyNTMuMjYzLDAsMjQ1LjkxNSwwYy03LjIwNCwwLTEzLjk1NiwyLjc4LTE5LjAyLDcuODQ0TDQ5LjM0NywxODUuMzg4Yy0xMC40ODgsMTAuNDkyLTEwLjQ4OCwyNy41NjgsMCwzOC4wNTJsMTYuMTIsMTYuMTI4YzUuMDY0LDUuMDYsMTEuODIsNy44NDQsMTkuMDI4LDcuODQ0YzcuMjA0LDAsMTQuMTkyLTIuNzg0LDE5LjI1Mi03Ljg0NGwxMDMuODA4LTEwMy41ODR2MzI5LjA4NGMwLDE0LjgzMiwxMS42MTYsMjYuOTMyLDI2LjQ0OCwyNi45MzJoMjIuOGMxNC44MzIsMCwyNy42MjQtMTIuMSwyNy42MjQtMjYuOTMyVjEzNC44MTZsMTA0LjM5NiwxMDQuNzUyYzUuMDYsNS4wNiwxMS42MzYsNy44NDQsMTguODQ0LDcuODQ0czEzLjg2NC0yLjc4NCwxOC45MzItNy44NDRsMTYuMDcyLTE2LjEyOEM0NTMuMTYzLDIxMi45NTIsNDUzLjEyMywxOTUuODgsNDQyLjYyNywxODUuMzg4eiIvPjwvZz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PC9zdmc+);
}
.dx-g-bs4-sort-indicator-invisible{display:none;}
.dx-rg-bs4-table-header-title{cursor:pointer;}

.oi-arrow-thick-bottom{transform:rotate(180deg);}

.profile_info{min-height:300px;/*overflow:auto;*/}
.profile_info_table tbody{background:#fff;}
.profile_info_table thead{background:#e1e1e1;}
.profile_info_table .table-responsive{min-height:287px;}
/*.profile_info>div{position:absolute;width:100%;height:100%;left:0;top:0;}*/

.d-flex{display:flex;}
.flex-column{flex-direction:column;}
.table-responsive{overflow: auto;}
.dx-g-bs4-drag-drop{display:none;}
/*Пагинация*/
.dx-g-bs4-paging-panel{display:flex;justify-content: space-between;padding:10px;box-sizing: border-box;}
.pagination.m-0{padding:0;margin:0;list-style: none;position:relative;overflow:hidden;}
.dx-g-bs4-paging-panel .float-right.d-sm-none{display:none;}
.dx-g-bs4-paging-panel .float-right.d-sm-none.mr-4{display:block;}
.pagination.m-0 .page-item{float:left;}
.pagination.m-0 .page-item.disabled{display:none;}
.pagination.m-0 .page-item a{color:#007ee4;padding-left:4px;padding-right:4px;}
.pagination.m-0 .page-item.active a{color:#000;}
.pagination.m-0 .page-item a{text-decoration:none;}
.pagination.m-0 .sr-only{display:none;}

.profile_info_edit{/*padding:0px 10px 10px;*/padding:10px;}
.profile_info_caption{font-weight:bold;margin-bottom:20px;}

.wrap_btns{display:flex;justify-content: space-between;}
.wrap_btns .btn_esc{width:39%;text-align: center;padding:0;line-height: 24px;background:#fff;}
.wrap_btns .btn_enter{width:59%;text-align: center;padding:0;line-height: 24px;}

.react-datepicker-popper{z-index:3!important;}
.react-datepicker-wrapper{width: 100%;}
.react-datepicker-wrapper input{
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    border: 1px solid #ddd;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    transition:0.2s;
}
.react-datepicker-wrapper input._error{border-color:red;}

.text-muted{font-size: 13px;padding: 10px;line-height: 30px;}
.itm_selector{width:100%;border-radius:0;}
.itm_selector._error>div{border-color:red;}

.HighlightClass{font-weight:bold;background:transparent;}

/*Подсказки для адреса*/
.wrp_address_hint{
    position: absolute;
    z-index: 3;
    background: #fff;
    width: 100%;
    border: 1px solid #ddd;
    top: 31px;
    width: 100%;
    box-sizing: border-box;
}
.address_hint_caption{
    padding: 5px 10px;
    font-size: 11px;
    color: #a8a8a8;
}
.address_hint_line{    padding: 8px 10px;
    border-top: 1px solid #ddd;}
.address_hint_line:hover{background:#d9ebf5}
.wrp_profile_info_caption{display:flex;justify-content: space-between;}
.deleteRow{cursor:pointer;color:#c15800;}
.deleteRow:hover{color:#085cb7;}

.wrap_modal{
    position:absolute;
    left:0;top:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.modal {
    margin: auto;
    width: 400px;
    padding: 20px 5px;
    background: #fff;
    border: 1px solid #ddd;
    position: relative;
    z-index: 11;
}
.modal_caption {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.modal_buttons {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
}
.modal_buttons .btn {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
}
.modal_buttons .btn._esc{
    background: #fff;
}
.modal_buttons .btn._enter {
    background: #f8e9b9;
}
.btn_enter.unactive{
    background:#ddd;
    cursor:auto;
}

.modal_overlay{
    position:absolute;width:100%;height:100%;top:0;left:0;background:rgba(255,255,255,0.6);z-index:10;
}
.files_list{
    width: 100%;
    border: 1px solid #ddd;
    padding:10px;
}
.file_row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;margin-top:4px;
}
.file_row_caption a{color:#007ee4}

.profilePhoto{
    border: 1px solid #ddd;
    background-color: #fff;
    height: 135px;
    position: absolute;
    right: 0;
    width: 100%;
    background-size:contain;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;
    background-position:center;background-repeat:no-repeat;
}
.card-header{position:absolute;top:0;right:0;}

.card-header>.btn{
position: absolute;
    width: 20px;
    height: 20px;
    top: -26px;
    right: 2px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNTEyIDUxMiIgaGVpZ2h0PSI1MTIiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Im0yNzIuMDY2IDUxMmgtMzIuMTMzYy0yNS45ODkgMC00Ny4xMzQtMjEuMTQ0LTQ3LjEzNC00Ny4xMzN2LTEwLjg3MWMtMTEuMDQ5LTMuNTMtMjEuNzg0LTcuOTg2LTMyLjA5Ny0xMy4zMjNsLTcuNzA0IDcuNzA0Yy0xOC42NTkgMTguNjgyLTQ4LjU0OCAxOC4xMzQtNjYuNjY1LS4wMDdsLTIyLjcxMS0yMi43MWMtMTguMTQ5LTE4LjEyOS0xOC42NzEtNDguMDA4LjAwNi02Ni42NjVsNy42OTgtNy42OThjLTUuMzM3LTEwLjMxMy05Ljc5Mi0yMS4wNDYtMTMuMzIzLTMyLjA5N2gtMTAuODdjLTI1Ljk4OCAwLTQ3LjEzMy0yMS4xNDQtNDcuMTMzLTQ3LjEzM3YtMzIuMTM0YzAtMjUuOTg5IDIxLjE0NS00Ny4xMzMgNDcuMTM0LTQ3LjEzM2gxMC44N2MzLjUzMS0xMS4wNSA3Ljk4Ni0yMS43ODQgMTMuMzIzLTMyLjA5N2wtNy43MDQtNy43MDNjLTE4LjY2Ni0xOC42NDYtMTguMTUxLTQ4LjUyOC4wMDYtNjYuNjY1bDIyLjcxMy0yMi43MTJjMTguMTU5LTE4LjE4NCA0OC4wNDEtMTguNjM4IDY2LjY2NC4wMDZsNy42OTcgNy42OTdjMTAuMzEzLTUuMzM2IDIxLjA0OC05Ljc5MiAzMi4wOTctMTMuMzIzdi0xMC44N2MwLTI1Ljk4OSAyMS4xNDQtNDcuMTMzIDQ3LjEzNC00Ny4xMzNoMzIuMTMzYzI1Ljk4OSAwIDQ3LjEzMyAyMS4xNDQgNDcuMTMzIDQ3LjEzM3YxMC44NzFjMTEuMDQ5IDMuNTMgMjEuNzg0IDcuOTg2IDMyLjA5NyAxMy4zMjNsNy43MDQtNy43MDRjMTguNjU5LTE4LjY4MiA0OC41NDgtMTguMTM0IDY2LjY2NS4wMDdsMjIuNzExIDIyLjcxYzE4LjE0OSAxOC4xMjkgMTguNjcxIDQ4LjAwOC0uMDA2IDY2LjY2NWwtNy42OTggNy42OThjNS4zMzcgMTAuMzEzIDkuNzkyIDIxLjA0NiAxMy4zMjMgMzIuMDk3aDEwLjg3YzI1Ljk4OSAwIDQ3LjEzNCAyMS4xNDQgNDcuMTM0IDQ3LjEzM3YzMi4xMzRjMCAyNS45ODktMjEuMTQ1IDQ3LjEzMy00Ny4xMzQgNDcuMTMzaC0xMC44N2MtMy41MzEgMTEuMDUtNy45ODYgMjEuNzg0LTEzLjMyMyAzMi4wOTdsNy43MDQgNy43MDRjMTguNjY2IDE4LjY0NiAxOC4xNTEgNDguNTI4LS4wMDYgNjYuNjY1bC0yMi43MTMgMjIuNzEyYy0xOC4xNTkgMTguMTg0LTQ4LjA0MSAxOC42MzgtNjYuNjY0LS4wMDZsLTcuNjk3LTcuNjk3Yy0xMC4zMTMgNS4zMzYtMjEuMDQ4IDkuNzkyLTMyLjA5NyAxMy4zMjN2MTAuODcxYzAgMjUuOTg3LTIxLjE0NCA0Ny4xMzEtNDcuMTM0IDQ3LjEzMXptLTEwNi4zNDktMTAyLjgzYzE0LjMyNyA4LjQ3MyAyOS43NDcgMTQuODc0IDQ1LjgzMSAxOS4wMjUgNi42MjQgMS43MDkgMTEuMjUyIDcuNjgzIDExLjI1MiAxNC41MjR2MjIuMTQ4YzAgOS40NDcgNy42ODcgMTcuMTMzIDE3LjEzNCAxNy4xMzNoMzIuMTMzYzkuNDQ3IDAgMTcuMTM0LTcuNjg2IDE3LjEzNC0xNy4xMzN2LTIyLjE0OGMwLTYuODQxIDQuNjI4LTEyLjgxNSAxMS4yNTItMTQuNTI0IDE2LjA4NC00LjE1MSAzMS41MDQtMTAuNTUyIDQ1LjgzMS0xOS4wMjUgNS44OTUtMy40ODYgMTMuNC0yLjUzOCAxOC4yNDMgMi4zMDVsMTUuNjg4IDE1LjY4OWM2Ljc2NCA2Ljc3MiAxNy42MjYgNi42MTUgMjQuMjI0LjAwN2wyMi43MjctMjIuNzI2YzYuNTgyLTYuNTc0IDYuODAyLTE3LjQzOC4wMDYtMjQuMjI1bC0xNS42OTUtMTUuNjk1Yy00Ljg0Mi00Ljg0Mi01Ljc5LTEyLjM0OC0yLjMwNS0xOC4yNDIgOC40NzMtMTQuMzI2IDE0Ljg3My0yOS43NDYgMTkuMDI0LTQ1LjgzMSAxLjcxLTYuNjI0IDcuNjg0LTExLjI1MSAxNC41MjQtMTEuMjUxaDIyLjE0N2M5LjQ0NyAwIDE3LjEzNC03LjY4NiAxNy4xMzQtMTcuMTMzdi0zMi4xMzRjMC05LjQ0Ny03LjY4Ny0xNy4xMzMtMTcuMTM0LTE3LjEzM2gtMjIuMTQ3Yy02Ljg0MSAwLTEyLjgxNC00LjYyOC0xNC41MjQtMTEuMjUxLTQuMTUxLTE2LjA4NS0xMC41NTItMzEuNTA1LTE5LjAyNC00NS44MzEtMy40ODUtNS44OTQtMi41MzctMTMuNCAyLjMwNS0xOC4yNDJsMTUuNjg5LTE1LjY4OWM2Ljc4Mi02Ljc3NCA2LjYwNS0xNy42MzQuMDA2LTI0LjIyNWwtMjIuNzI1LTIyLjcyNWMtNi41ODctNi41OTYtMTcuNDUxLTYuNzg5LTI0LjIyNS0uMDA2bC0xNS42OTQgMTUuNjk1Yy00Ljg0MiA0Ljg0My0xMi4zNSA1Ljc5MS0xOC4yNDMgMi4zMDUtMTQuMzI3LTguNDczLTI5Ljc0Ny0xNC44NzQtNDUuODMxLTE5LjAyNS02LjYyNC0xLjcwOS0xMS4yNTItNy42ODMtMTEuMjUyLTE0LjUyNHYtMjIuMTVjMC05LjQ0Ny03LjY4Ny0xNy4xMzMtMTcuMTM0LTE3LjEzM2gtMzIuMTMzYy05LjQ0NyAwLTE3LjEzNCA3LjY4Ni0xNy4xMzQgMTcuMTMzdjIyLjE0OGMwIDYuODQxLTQuNjI4IDEyLjgxNS0xMS4yNTIgMTQuNTI0LTE2LjA4NCA0LjE1MS0zMS41MDQgMTAuNTUyLTQ1LjgzMSAxOS4wMjUtNS44OTYgMy40ODUtMTMuNDAxIDIuNTM3LTE4LjI0My0yLjMwNWwtMTUuNjg4LTE1LjY4OWMtNi43NjQtNi43NzItMTcuNjI3LTYuNjE1LTI0LjIyNC0uMDA3bC0yMi43MjcgMjIuNzI2Yy02LjU4MiA2LjU3NC02LjgwMiAxNy40MzctLjAwNiAyNC4yMjVsMTUuNjk1IDE1LjY5NWM0Ljg0MiA0Ljg0MiA1Ljc5IDEyLjM0OCAyLjMwNSAxOC4yNDItOC40NzMgMTQuMzI2LTE0Ljg3MyAyOS43NDYtMTkuMDI0IDQ1LjgzMS0xLjcxIDYuNjI0LTcuNjg0IDExLjI1MS0xNC41MjQgMTEuMjUxaC0yMi4xNDhjLTkuNDQ3LjAwMS0xNy4xMzQgNy42ODctMTcuMTM0IDE3LjEzNHYzMi4xMzRjMCA5LjQ0NyA3LjY4NyAxNy4xMzMgMTcuMTM0IDE3LjEzM2gyMi4xNDdjNi44NDEgMCAxMi44MTQgNC42MjggMTQuNTI0IDExLjI1MSA0LjE1MSAxNi4wODUgMTAuNTUyIDMxLjUwNSAxOS4wMjQgNDUuODMxIDMuNDg1IDUuODk0IDIuNTM3IDEzLjQtMi4zMDUgMTguMjQybC0xNS42ODkgMTUuNjg5Yy02Ljc4MiA2Ljc3NC02LjYwNSAxNy42MzQtLjAwNiAyNC4yMjVsMjIuNzI1IDIyLjcyNWM2LjU4NyA2LjU5NiAxNy40NTEgNi43ODkgMjQuMjI1LjAwNmwxNS42OTQtMTUuNjk1YzMuNTY4LTMuNTY3IDEwLjk5MS02LjU5NCAxOC4yNDQtMi4zMDR6Ii8+PHBhdGggZD0ibTI1NiAzNjcuNGMtNjEuNDI3IDAtMTExLjQtNDkuOTc0LTExMS40LTExMS40czQ5Ljk3My0xMTEuNCAxMTEuNC0xMTEuNCAxMTEuNCA0OS45NzQgMTExLjQgMTExLjQtNDkuOTczIDExMS40LTExMS40IDExMS40em0wLTE5Mi44Yy00NC44ODUgMC04MS40IDM2LjUxNi04MS40IDgxLjRzMzYuNTE2IDgxLjQgODEuNCA4MS40IDgxLjQtMzYuNTE2IDgxLjQtODEuNC0zNi41MTUtODEuNC04MS40LTgxLjR6Ii8+PC9zdmc+);
    background-color: transparent;
    background-size: contain;
    border: 0;
    padding:0;

}
.popover {position:absolute;width:400px;right:0;left:initial!important;}